### Gradle ###
.gradle/
build/

### Android Studio / IntelliJ IDEA ###
*.iml
.idea/
.DS_Store

### Local configuration ###
local.properties

### NDK / CMake ###
.externalNativeBuild/
.cxx/

### Captures ###
captures/

### Signing keys ###
*.jks
*.keystore
*.properties

### Google / Firebase services ###
google-services.json
GoogleService-Info.plist

### Misc ###
# Crashlytics / Fabric
app/fabric.properties

# Log / temp files
*.log
*.temp
